<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.iisacc.society.photos.tests">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <application android:label="Society Photos Tests" android:debuggable="true" android:allowBackup="false" />
    <instrumentation android:name="com.iisacc.society.photos.tests.PhotoInstrumentation" android:targetPackage="com.iisacc.society.photos.tests" />
</manifest>
